@import url(font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a,
li {
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #692340;
    --secondary-color: #241C15;
    --ternary-color: #FBEECA;

}

.btn {
    line-height: 137%;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    border: 1px solid #241C15;
    padding: 12px 20px;
    transition: .5s;
    color: var(--secondary-color);
    background: #fff;
}

.btn:hover {
    background: #007C89;
    color: #FFF;
    border: 1px solid #007c89;
}

.nav__form .nav__form_log {
    padding: 12px 29px;
}
.nav__form .nav__form_sign {
    padding: 12px 16px;
}




.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1000px;
    width: 100%;
}

/* header start  */
.nav__container {
    padding: 34px 0;

    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    max-width: 486px;
    width: 100%;
    display: flex;
    gap: 45px;

}

.nav__link {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 102%;
    padding: 4px;
}

.nav__form {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}



/* header end  */